.p-contact {
  margin-top: -110px; //高さ調整
  clear: both;
  &__text {
    margin-top: 50px;
    text-align: center;
    & a {
      transition: opacity 0.3s ease;
      text-decoration: underline;
      &:hover {
        opacity: 0.3;
      }
    }
  }
  ul {
    margin-top: 52px;
    text-align: center;
    li {
      width: 38.43%;
      margin: 28px auto 0;
      text-align: left;
      list-style-type: disc;
      color: $accent_color;
      span {
        color: $main_black_color;
      }
    }
  }
}
@media (max-width: 768px) {
  .p-contact {
    &__text {
      width: 80%;
      margin: 50px auto 0;
      font-size: 0.8em;
    }
    ul li {
      width: 80%;
      font-size: 0.8em;
    }
  }
}
