.p-contact {
  margin-top: -110px; //高さ調整
  clear: both;
  &__text {
    margin-top: 50px;
    text-align: center;
  }
  &__mail {
    margin-top: 50px;
    font-size: 1.5em;
    text-align: center;
    font-family: $font_abel;
    & a {
      transition: opacity 0.3s ease;
      &:hover {
        opacity: 0.3;
      }
    }
  }
  ul {
    margin-top: 52px;
    text-align: center;
    li {
      width: 38.43%;
      margin: 28px auto 0;
      text-align: left;
    }
  }
}
@media (max-width: 768px) {
  .p-contact {
    &__text {
      width: 80%;
      margin: 50px auto 0;
      font-size: 0.8em;
    }
    &__mail {
      width: 80%;
      margin: 50px auto 0;
      font-size: 1.2em;
    }
    ul li {
      width: 80%;
      font-size: 0.8em;
    }
  }
}
