.l-header {
  &__bottom {
    padding-bottom: 90px;
    &:after {
      content: "";
      position: absolute;
      top: 0; //上寄せ
      right: 0; //右寄せ
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 70px 0 28px 45vw; //上 右 下 左
      border-color: $main_color transparent transparent transparent;
    }
  }
  &__logo {
    z-index: 800;
    position: fixed;
    top: 85px;
    left: 130px;
    transition: opacity 0.3s ease;
    font-family: $font_abel;
    font-size: 1.125em;
    &:hover {
      opacity: 0.3;
    }
  }
}
@media (max-width: 768px) {
  .l-header {
    &__logo {
      top: 50px;
      left: 20px;
    }
  }
}
